* text=auto
.editorconfig text eol=lf
.gitattributes text eol=lf
.gitignore text eol=lf
Makefile text eol=lf
*.go text eol=lf
go.work.sum text eol=lf
*.md text eol=lf
*.yaml text eol=lf
*.yml text eol=lf
*.sh text eol=lf
tests/network-ns/fixtures/*.env text eol=lf
*.ps1 text eol=crlf
*.psd1 text eol=crlf
*.psm1 text eol=crlf
*.png binary
*.zip binary
*.zst binary
*.apk binary
